@model IEnumerable<MyFirstMVCApp.Models.Window>

@{
    ViewData["Title"] = "Windows List";
}

<h2>Windows List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Width</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var window in Model)
        {
            <tr>
                <td>@window.Id</td>
                <td>@window.Name</td>
                <td>@window.Width</td>
                <td>@window.Height</td>
            </tr>
        }
    </tbody>
</table>